.ipynb_checkpoints/
dataset/
wav2vec2-pretrained-demo/
saved/
huggingface-hub/
huggingface-hub_Linear_Scheduler/
models/
*.gz
*.tar
*.out
**/__pycache__/
*/__pycache__/
huggingface-hub_xlsr_pinyn/
dask_data/
data_path/
